*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header{

    background-color: #242425;
    width: 100vw;
    height: 100px;

}

.logocabeca{

    height: 80px;

}

main{

    padding: 25px;
    background-color: black;

 
}

.card {

    background-color:#3e3f40;
    color: black;
    text-align: center;

}










